[Unit]
Description=units-bcm2711 service
After=mariadb.service

[Service]
User=mysql
Group=mysql
Type=simple
ExecStart=/usr/bin/units-bcm2711
ExecStop=killall units-bcm2711
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
